.content__folder {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px 20px 10px 0;
    border-left: 4px solid gray;
    background-color: rgba(255, 255, 255, 0.2);
}

.content__folder-list {
    padding: 10px 0 20px;
}

.content__navigation {
    color: teal;
    font-size: .9rem;
    position: sticky;
    top: 0;
}

.content__navigation li {
    display: inline-block;
    padding-right: 5px;
    cursor: pointer;
}

.content__navigation li:hover {
    text-decoration: underline;
}

.content__navigation li::after {
    content: '>';
    padding-left: 5px;
    display: inline-block;
}

.content__folder__title {
    margin: 0;
    font-size: .9rem;
}

.content__folder__url {
    margin: 0;
    font-size: .7rem;
    word-break: break-all;
    line-height: .5rem;
}